<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd 
	http://www.springframework.org/schema/tx  
	http://www.springframework.org/schema/tx/spring-tx.xsd">

	
	<!-- 数据库连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/alumni" />
		<property name="user" value="root" />
		<property name="password" value="root" />
	</bean>
	<!--配置事务-->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!--开启事务注解-->
	<tx:annotation-driven transaction-manager="transactionManager"/>

	<!-- 配置sessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!-- 依赖dataSource -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 创建工厂需要加载hibernate映射文件 -->
		<property name="configLocations" value="classpath:hibernate.cfg.xml"></property>
	</bean>
	<!--配置Action对象    -->
	<bean id="userAction" class="george.xie.atcion.UserAction" scope="prototype" >
        <!--注入service-->
        <property name="userService" ref="userService"></property>
    </bean>

	<!--配置Service对象    -->
	<bean id="userService" class="george.xie.service.UserService">
        <!--注入Dao 接口等于实现类对象-->
        <property name="userDao" ref="userDaoImpl"></property>
    </bean>
    <!--创建实现类对象，创建接口注入实现类-->
    <bean id="userDaoImpl" class="george.xie.dao.UserDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>

    <!--创建hibernatetemplate模板对象-->
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
        <!--注入sessionfactory-->
		<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
</beans>